# игнорируем вспомогатльные файлы
# не обрабатываем файлы объектники
test
1.png
.vscode
#scp -P 50506 solution.c puchkovki@remote.vdi.mipt.ru:~
#ssh -p 50506 puchkovki@remote.vdi.mipt.ru
#ssh s77403@head.vdi.mipt.ru